/*************************************************************************
 *
 * ADOBE CONFIDENTIAL
 * ___________________
 *
 *  Copyright 2014 Adobe Systems Incorporated
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 **************************************************************************/

@import "/libs/cq/gui/components/projects/admin/dashboard/tile/clientlibs/tile/css/mixins";

// App details

@border-color: #D1D1D1;

.cq-projects-AppDetails {
  padding: 1px;

  .cq-projects-AppDetails-icon {
    max-width: 104px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .cq-thumbnail-edit > .cq-projects-AppDetails-icon {
    float: none;
  }

  .cq-projects-AppDetails-infoBox {
    display: block;
    .clearfix();
  }

  .cq-projects-AppDetails-title {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.25em;
    margin: 0;
  }

  .cq-projects-AppDetails-subtitle {
    margin: 0.5em 0 1em 0;
  }

  .cq-projects-AppDetails-sectionTitle {
    text-transform: uppercase;
    color: #999999;
    font-size: inherit;
    font-weight: normal;
    margin: 2rem 0 0.5rem;
  }

  .cq-projects-AppDetails-description {
    white-space: pre-wrap;
    font-family: adobe-clean, Helvetica, Arial, sans-serif;
    font-size: .8125rem;
    line-height: 1rem;
  }

  .cq-projects-AppDetails-metadata {
    dt {
      font-weight: normal;
      color: #999999;
      float: left;
      min-width: 120px;
    }
    dd {
      color: #4B4B4B;
      margin-bottom: 0.4rem;
    }
    dd:not(.icon) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    dd:after {
      content: "\00a0";
    }
    i.coral-Icon {
      margin-right: 5px;
    }
  }
}


