.projectLink a {
	height: auto;
    font-size: 0.8125rem;
    font-weight: normal;
    text-decoration: none;
}

.briefdetailstable td, .briefdetailstable th {
	min-width:90px;
	text-align: left;
}

.centeraligned {
	text-align: center !important;
}