.altNotNeeded {
	background-color: rgba(224, 107, 20, 0.6);
}
.pendingShoot {
}
.pendingReShoot {
	background-color: rgba(256, 0, 0, 0.4);
}
.pendingRetouch {
	background-color: rgba(255, 250, 50, 0.3);
}
.productDelivered {
	background-color:  rgba(200, 0, 200, 0.4);
}
.pendingColourMatch {
	background-color:  rgb(171, 134, 65);
}

coral-columnview-item-thumbnail.productPendingRetouch {
	background-color: rgba(255, 250, 50, 0.3) !important;
}

.readyToRetouch {
	background-color: rgba(0, 88, 255, 0.3);
}

coral-columnview-item-thumbnail.productReadyForRetouch {
	background-color: rgba(0, 88, 255, 0.3) !important;
}

.assetRetouched {
	background-color:  rgba(0, 150, 5, 0.4);
}
coral-columnview-item-thumbnail.productRetouched{
	background-color:  rgba(0, 150, 5, 0.4) !important;
}

coral-columnview-item-thumbnail.productDelivered {
	background-color:  rgba(200, 0, 200, 0.4) !important;
}

.is-active.altNotNeeded, .is-selected.altNotNeeded, .is-active.altNotNeeded:hover, .is-selected.altNotNeeded:hover, .altNotNeeded:hover  {
	background-color: rgba(224, 107, 20, 0.5);
}
.is-active.pendingShoot, .is-selected.pendingShoot, .pendingShoot:hover  {
}
.is-active.pendingReShoot, .is-selected.pendingReShoot, .is-active.pendingReShoot:hover, .is-selected.pendingReShoot:hover, .pendingReShoot:hover {
	background-color: rgba(256, 0, 0, 0.3);
}
.is-active.pendingRetouch, .is-selected.pendingRetouch, .is-active.pendingRetouch:hover, .is-selected.pendingRetouch:hover, .pendingRetouch:hover  {
	background-color: rgba(255, 250, 50, 0.2);
}
.is-active.readyToRetouch, .is-selected.readyToRetouch, .is-active.readyToRetouch:hover, .is-selected.readyToRetouch:hover, .readyToRetouch:hover {
	background-color: rgba(0, 88, 255, 0.2);
}
.is-active.assetRetouched, .is-selected.assetRetouched, .is-active.assetRetouched:hover, .is-selected.assetRetouched:hover, .assetRetouched:hover  {
		background-color:  rgba(0, 150, 5, 0.3);
}
.is-active.productDelivered, .is-selected.productDelivered, .productDelivered:hover {
	background-color:  rgba(200, 0, 200, 0.3);
}

.is-active.pendingColourMatch, .is-selected.pendingColourMatch, .pendingColourMatch:hover {
	background-color:  rgb(171, 134, 65);
}

.coral3-Alert--info.altNotNeeded {
	background-color: rgb(255, 147, 66);
}
.coral3-Alert--info.pendingShoot {
}
.coral3-Alert--info.pendingReShoot {
	background-color: rgb(256, 0, 0);
}
.coral3-Alert--info.pendingRetouch {
	background-color: rgba(255, 250, 50, 0.7);
}
.coral3-Alert--info.readyToRetouch {
	background-color: rgb(0, 182, 255)
}
.coral3-Alert--info.assetRetouched {
	background-color:  rgba(1, 220, 8, 0.86);
}
.coral3-Alert--info.productDelivered {
	background-color: rgb(255, 89, 255);
}
.coral3-Alert--info.archived {
	background-color: #d6b88a;
}
.coral3-Alert--info.pendingColourMatch {
	background-color: #ab8641;
}
