body{
    font-family: Gill Sans, Arial,Helvetica,sans-serif;
    font-size: 16px;
}

h2{
    color: #284E36;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    width: 100%;
    padding: 16px 8px;
    margin: 0;
}

.jl-wrapper{
    background-color: #fbfbfb;
	border-bottom: 1px solid #5D5D5C;
    border-top: 1px solid #5D5D5C;
    padding: 16px 8px 0  8px;
    margin-bottom: 32px;
}

section{
    margin-bottom: 16px;
    display: block;
}

h3{
    font-weight: 600;
    font-size: 1em;
    color: #393939;
    display: inline;
}

.highlight{
	color: #c50000;
    font-size: 16px;
}

.cq-text-placeholder-ipe{
    font-size: 20px !important;
	color: #358245 !important;
}

section .jl-value,
section div{
    padding-left: 8px;
    color: #5D5D5C;
    margin-bottom: 16px;
    display: inline;
    line-height: 24px;
}

section div{
    padding-left: 0;
}

.color-preview{
	display: inline-block;
    height: 20px;
    width: 35px;
    border: 1px solid #5D5D5C;
    margin-right: 8px;
    position: relative;
    top: 5px;
}
span.cms-standfirst {
	font-size:20px;
    line-height:28px;
}
