<main>
    <div class="shop-details">
        <sly data-sly-include="stub-shop-content.html" />
        <div class="cms-shops-content">
            <div class="cms-grid-container">
                <sly data-sly-resource="${'shopPageContent' @ resourceType='wcm/foundation/components/responsivegrid'}"></sly>
            </div>
        </div>

    </div>
</main>
