<header class="shop-details-header">
    <h1 class="shop-title">John Lewis
        <span class="shop-name">Oxford Street</span>
    </h1>
    <p>300 Oxford Street London W1C 1DX</p>
    <a href="tel:020 7629 7711">
        <span class="span-audible-text u-audible">call</span>
        <span class="telephone-number">020 7629 7711</span>
    </a>
</header>
<section class="shop-details-container">
    <div class="shop-image-container">
        <iframe id="map" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="" style="background-image: url('https://johnlewis.scene7.com/is/image/JohnLewis/oxfordstreet-main-140514'); background-repeat:no-repeat; background-size: 100%; background-position:center;">
        </iframe>
    </div>
    <a class="view-all-shops u-centred" href="/our-shops">View all our shops</a>
</section>
<div class="opening-hours">
    <h3>Opening hours this week</h3>
    <dl class="opening-weeks-list">
        <dt class="opening-day">Mon</dt>
        <dd class="opening-time">09:30 - 20:00</dd>
        <dt class="opening-day">Tues</dt>
        <dd class="opening-time">09:30 - 20:00</dd>
        <dt class="opening-day">Wed</dt>
        <dd class="opening-time">09:30 - 20:00</dd>
        <dt class="opening-day">Thurs</dt>
        <dd class="opening-time">09:30 - 21:00</dd>
        <dt class="opening-day">Fri</dt>
        <dd class="opening-time">09:30 - 20:00</dd>
        <dt class="opening-day">Sat</dt>
        <dd class="opening-time">09:30 - 20:00</dd>
        <dt class="opening-day">Sun*</dt>
        <dd class="opening-time">12:00 - 18:00</dd>
    </dl>
    <div class="opening-weeks-comments">
        <p class="opening-weeks-content">
            <span>*</span>
            <span>Browsing 11:30am - 12 noon; No parcel collection during browsing hours</span>
        </p>
    </div>
</div>

