<main class="article">
    <article class="article__wrapper">
        <header class="article__header">
            <sly data-sly-resource="${'articleHeader/articleHeading' @ resourceType='onejl/components/articleHeading'}"></sly>
        </header>
        <div class="col col-md-8 offset-md-2 col-lg-8 offset-lg-2 article__body">
            <div class="cms-grid-container">
                <sly data-sly-resource="${'articleBody' @ resourceType='foundation/components/parsys'}"></sly>
            </div>
        </div>
        <footer class="article__footer">
        </footer>
    </article>
</main>
