<div class="cms-wrapper cms-wrapper-edit">
    <h2> Carousel</h2>
    <sly data-sly-use.carousel="com.jl.aem.preview.apps.carousel.CarouselModel">
        <div data-sly-list.item="${carousel.images }">

            <picture class="cms-image-rsp__picture" style="width:100%">

                <source media="(min-width: 1024px)" srcset="${item.cmsImageSrc}?scale=0.5 1x, ${item.cmsImageSrc}? 2x" sizes="100vw">

                <source media="(min-width: 768px) and (max-width: 1023px)" srcset="${item.apps.iPadCarouselImage}?scale=0.5 1x, ${item.apps.iPadCarouselImage}? 2x" sizes="100vw">

                <source media="(max-width: 767px)" srcset="${item.apps.iPhoneCarouselImage}?scale=0.5 1x, ${item.apps.iPhoneCarouselImage}8? 2x" sizes="100vw">

                <img class="cms-image-rsp__image" style="width:100%" src="${item.cmsImageSrc}?"
                     srcset="${item.cmsImageSrc}?wid=576&amp;fit=hfit,1 576w,
                  ${item.cmsImageSrc}?wid=768&amp;fit=hfit,1 768w,
                  ${item.cmsImageSrc}?wid=1024&amp;fit=hfit,1 1024w,
                  ${item.cmsImageSrc}?wid=1200&amp;fit=hfit,1 1200w,
                  ${item.cmsImageSrc}?wid=1536&amp;fit=hfit,1 1536w,
                  ${item.cmsImageSrc}?wid=2048&amp;fit=hfit,1 2048w,
                  ${item.cmsImageSrc}?wid=2400&amp;fit=hfit,1 2400w" sizes="100vw" alt=" ">

            </picture>

        </div>
    </sly>

</div>