<div class="cms-wrapper cms-wrapper-edit">
    <sly data-sly-use.preview="${'com.jl.aem.preview.PreviewModel' @ resource=resource}">
        ${preview.componentHtml @ context='unsafe'}
    </sly>
</div>