.editor-ResponsiveGrid-resizeGrid-column:nth-of-type(2n) {
  background-color: #ffccf3;
}
.editor-ResponsiveGrid-resizeGrid-column {
  box-sizing: border-box;  
  opacity: 0.25;
  background-color: #ffccf3;
  border-left-style: solid;
  border-left-color: #ffffff;
  border-right-style: solid;
  border-right-color: #ffffff;

  border-left-width: 8px;
  border-right-width: 8px;

}
.jl-tablet-grid .editor-ResponsiveGrid-resizeGrid-column {
  border-left-width: 12px;
  border-right-width: 12px;
}
