.cq-Overlay {
	box-sizing: border-box;
	margin: 0;
}

.cq-Overlay.is-active,
.cq-Overlay.is-selected,
.cq-Overlay.is-hover {
	margin: 0;
}

.cq-Overlay--container.is-hover > .cq-Overlay,
.cq-Overlay--container.is-selected > .cq-Overlay,
.cq-Overlay--container.is-active > .cq-Overlay{
	margin: -0.125rem;
}

.cq-Overlay.cq-Overlay--component.cq-Overlay--container.cq-draggable.cq-droptarget {
	box-sizing: content-box;
	margin-left: -8px;
}

.cq-Overlay.cq-Overlay--component.cq-Overlay--container.cq-draggable.cq-droptarget > .cq-Overlay.cq-Overlay--component.cq-Overlay--container {
	margin-left: 8px;
}

.cq-Overlay.cq-Overlay--component.cq-droptarget.cq-Overlay--placeholder[style*="width: 0px;"] {
	display: none;
}


