button.coral-Button.dam-admin-reports-generate.dam-admin-reports-generateJLP {
	margin-left: 0.5rem;
    position: fixed;
    bottom: 0px;
    width: 14rem;
}
.dam-asset-report.coral-Radio-input[name="dam-asset-report"] {
	margin-bottom: 50px;
}

.coral-Form--vertical .coral-Form-field.coral-Checkbox, .coral-Form--vertical .coral-Form-field.coral-Radio {
    width: 25%;
    display: inline-block;
}