<td data-sly-use.cell="com.jl.aem.editorial.model.sites.listview.infoprovider.ArticlePublishDateListViewColumnModel" is="coral-table-cell" value="${cell.timeInMillis}">
    <time datetime="${cell.timeInMillis}">${cell.timeFormatted}</time>
</td>