<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Link test results</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body > .container {
          padding: 60px 15px 0;
        }
        .crx {
          display: none;
        }
    </style>
</head>
<body>

<header>
    <% def stats = utils.stats( data ) %>

    <%
    data.info.fields.find { it.name == "linkChecks" }
    %>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Link test results</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target=".result-FAILURE">Bad
                    ${stats.failures}/${stats.totalRuns}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target=".response-code-404">404s</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target=".scene7-true">Scene7</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target=".mdot-true">m.johnlewis.com</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target=".handover-true">handover</a>
            </li>
        </ul>
    </nav>
</header>

<main class="container">
    <div class="row">
        <% features.eachFeature { name, result, blocks, iterations, params -> %>
        <% if(result != "PASS") for ( iteration in iterations ) { %>
        <div class="col-md-6 result-$result response-code-${iteration.dataValues[0].responseCode} scene7-${iteration.dataValues[0].scene7Image} mdot-${iteration.dataValues[0].MDot} handover-${iteration.dataValues[0].handover} collapse <% if(iteration.errors) { %> show <% } %>">
            <div class="card mb-3">
                <div class="card-header">
                    <h4>${iteration.dataValues[0].aemPageRelativeToBrowse}</h4>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>OneJL page</dt>
                        <dd>
                            <a href="${iteration.dataValues[0].oneJLPage}">${iteration.dataValues[0].oneJLPage}</a>
                        </dd>
                        <dt>AEM page</dt>
                        <dd>
                            <a href="https://author-john-lewis-prod-63.adobecqms.net/editor.html${iteration.dataValues[0].aemPage}.html">${iteration.dataValues[0].aemPage}</a>
                        </dd>
                        <dt>AEM link path</dt>
                        <dd>
                            ${iteration.dataValues[0].pathRelativeToAemPage}
                            <a class="crx" href="https://author-john-lewis-prod-63.adobecqms.net/crx/de/index.jsp#${iteration.dataValues[0].path.replaceAll(':', '%3A')}">Open in CRX/DE</a>
                        </dd>
                        <dt>AEM link value</dt>
                        <dd>
                            <a href="${iteration.dataValues[0].normalisedLinkUrl.replaceAll('"', '%22')}"
                               title="${iteration.dataValues[0].text ?: iteration.dataValues[0].link.replaceAll('"', '%22')}"
                            <% if(iteration.dataValues[0].image) { %>
                               data-toggle="popover" data-trigger="hover" data-content="<img src='${iteration.dataValues[0].image.startsWith("//") ? "https:" : ""}${iteration.dataValues[0].image}'>"
                            <% } %>
                            >
                            ${iteration.dataValues[0].text ?: iteration.dataValues[0].link.replaceAll('"', '%22')}
                            </a>
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <% if(iteration.dataValues[0].responseCode) { %>
                    ${iteration.dataValues[0].responseCode}
                    <% } %>
                    <% if(iteration.dataValues[0].errorMessage) { %>
                    ${iteration.dataValues[0].errorMessage}
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
        <% } %>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
\$(function () {
  \$('[data-toggle="popover"]').popover({html: true})
})
</script>
</body>
</html>
