<main class="area-categories">
    <h1 class="area-categories__title">Menu Sub Heading</h1>
    <div class="area-categories__content">
        <sly data-sly-include="left-hand-nav-stub.html"></sly>
        <section class="area-categories__section">
            <div>
                <sly data-sly-resource="${'dynamicAreaPageContent' @ resourceType='wcm/foundation/components/responsivegrid'}"></sly>
            </div>
        </section>
    </div>
</main>
