<nav class="area-categories-nav" aria-label="Categories menu">
    <ul class="area-categories-nav__wrapper">
        <li class="area-categories-nav__section">
            <h2 class="area-categories-nav__title area-categories-nav__title--subsection">Libero volutpat</h2>
            <ul class="area-categories-nav__list">
                <li class="area-categories-nav-item">
                    <a class="area-categories-nav-item__link area-categories-nav-item__link--with-destination" href="/furniture-lights/bedroom/c6000074">Nibh </a>
                </li>
                <li class="area-categories-nav-item">
                    <a class="area-categories-nav-item__link area-categories-nav-item__link--with-destination" href="/furniture-lights/living-room/c60000554">Aliquam </a>
                </li>
                <li class="area-categories-nav-item">
                    <a class="area-categories-nav-item__link area-categories-nav-item__link--with-destination" href="/furniture-lights/dining-room/c60000144">Non sodales </a>
                </li>
                <li class="area-categories-nav-item">
                    <a class="area-categories-nav-item__link area-categories-nav-item__link--with-destination" href="/furniture-lights/kitchen/c60000557">Sagittis </a>
                </li>
                <li class="area-categories-nav-item">
                    <a class="area-categories-nav-item__link area-categories-nav-item__link--with-destination" href="/furniture-lights/bathroom/c6000073">Tellus at urna </a>
                </li>
                <li class="area-categories-nav-item">
                    <a class="area-categories-nav-item__link area-categories-nav-item__link--with-destination" href="/furniture-lights/children%27s/c60000658">Rhoncus mattis</a>
                </li>
                <li class="area-categories-nav-item">
                    <a class="area-categories-nav-item__link area-categories-nav-item__link--with-destination" href="/furniture-lights/nursery/c6000062">Lacus sed viverra </a>
                </li>
                <li class="area-categories-nav-item">
                    <a class="area-categories-nav-item__link area-categories-nav-item__link--with-destination" href="/furniture-lights/home-office/c60000737">Facilisis magna</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>