<script>
    const checkParent = (node, targetClassName) => {
        const isContainsTargetClassName = node.classList.contains('cms-wrapper');

        if (!isContainsTargetClassName && node.tagName !== 'BODY') {
            return checkParent(node.parentNode, targetClassName);
        }

        if (!isContainsTargetClassName && node.tagName === 'BODY') {
            return false;
        }

        if (isContainsTargetClassName) {
            return true;
        }

    }

    document.addEventListener('click', (e) => {
        if (checkParent(e.target, 'cms-wrapper')) {
            e.preventDefault();
        }
    });
</script>
<script>
    $('.cms-carousel-rsp__item').each( function() {
        $(this).clone().addClass('cms-carousel-rsp__item--copy').removeClass('cms-carousel-rsp__item').insertAfter(this);
    });
    $('.cms-carousel-banner-rsp__item').each( function() {
        $(this).clone().addClass('cms-carousel-banner-rsp__item--copy').removeClass('cms-carousel-banner-rsp__item').insertAfter(this);
    });
    $('.cms-carousel-banner-wrapper .cms-supplier-banner').each( function() {
        $(this).clone().addClass('cms-supplier-banner--copy').removeClass('cms-supplier-banner').insertAfter(this);
    });
</script>
