.scaffold-host-wizard, .cq-dialog {
    .richtext-container {
        .rte-toolbar {
            background-color: transparent;
            position: relative;
            box-shadow: none;
            visibility: visible !important;
        }
        .coral-RichText, .rte-sourceEditor {
            width: 100%;
            overflow-y: auto;
        }
    }
}
