<div class="cms-wrapper cms-wrapper-edit">
    <sly data-sly-use.preview="${'com.jl.aem.preview.PreviewModel' @ resource=resource, innerContainers='/innerContainer'}">
        ${preview.componentHtml @ context='unsafe'}
    </sly>
</div>