<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ ADOBE CONFIDENTIAL
  ~  __________________
  ~  Copyright 2016 Adobe Systems Incorporated
  ~  All Rights Reserved.
  ~
  ~  NOTICE:  All information contained herein is, and remains
  ~  the property of Adobe Systems Incorporated and its suppliers,
  ~  if any.  The intellectual and technical concepts contained
  ~  herein are proprietary to Adobe Systems Incorporated and its
  ~  suppliers and are protected by trade secret or copyright law.
  ~  Dissemination of this information or reproduction of this material
  ~  is strictly forbidden unless prior written permission is obtained
  ~  from Adobe Systems Incorporated.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<div data-sly-use.item="com.adobe.cq.inbox.ui.InboxItem" data-sly-unwrap>
    <tr is="coral-table-row" class="foundation-collection-item"
        data-foundation-collection-item-id="${item.path}"
        data-type="${item.resourceType}"
        data-detailsurl="${request.contextPath}${item.detailsUrl}"
        data-payload-link="${request.contextPath}${item.payloadLink}"
        data-project-id="${item.projectId}"
        data-project-details-url="${request.contextPath}${item.associatedProjectDetailsUrl}"
        data-task-actions="${item.taskActions}">
        <td is="coral-table-cell" coral-table-rowselect>
            <coral-icon data-sly-test="${!item.payloadThumbnail}" class="foundation-collection-item-thumbnail" icon="${item.isPayloadFolder ? 'folder' :'pasteList'}" size="S"></coral-icon>
            <img data-sly-test="${item.payloadThumbnail}" 
                 data-sly-use.thumb="${'com.adobe.cq.inbox.ui.ThumbnailHelper' @ thumbnail=item.payloadThumbnail, width=48, height=48}" 
                 class="foundation-collection-item-thumbnail" src="${request.contextPath}${thumb.thumbnail}" alt="${'InboxItem Thumbnail' @ i18n, locale=request.locale}" 
                 itemprop="thumbnail">
        </td>
        <td is="coral-table-cell" class="payload-title-cell"><span class="payload-title">${item.title @ i18n, locale=request.locale}</span></td>
        <td is="coral-table-cell" class="inbox-item-priority">
            <coral-tag data-sly-test="${item.priority == 'High'}" color="red" size="S" quiet>${'High' @ i18n, locale=request.locale, hint='Task Priority for Inbox Item'}</coral-tag>
            <coral-tag data-sly-test="${item.priority == 'Medium'}" color="lightblue" size="S" quiet>${'Medium' @ i18n, locale=request.locale, hint='Task Priority for Inbox Item'}</coral-tag>
            <coral-tag data-sly-test="${item.priority == 'Low'}" color="grey" size="S" quiet>${'Low' @ i18n, locale=request.locale, hint='Task Priority for Inbox Item'}</coral-tag>
        </td>
        <td is="coral-table-cell" class="inbox-description-cell">
            <span class="inbox-description">${item.description @ i18n, locale=request.locale}</span>
        </td>
        <td is="coral-table-cell" class="project-info">
            <div class="current-assignee">
                <coral-icon class="coral-Shell-user-avatar coral-Icon is-image coral-Icon--sizeXS" icon="${request.contextPath}${item.currentAssigneeInfo['currentAssigneeThumbnail']}" size="XS" role="presentation"></coral-icon>
                <span class="current-assign">${item.currentAssigneeInfo['currentAssignee']}</span>
            </div>
        </td>
        <td is="coral-table-cell" class="project-info">
            <div class="project-cell">
                <img data-sly-test="${item.thumbnail}" 
                     data-sly-use.thumb="${'com.adobe.cq.inbox.ui.ThumbnailHelper' @ thumbnail=item.thumbnail, width=48, height=48}" 
                     class="foundation-collection-item-thumbnail" 
                     src="${request.contextPath}${thumb.thumbnail}" alt="${'Project Thumbnail' @ i18n, locale=request.locale}">
                <span data-sly-test="${item.projectTitle}" class="project-title">${item.projectTitle}</span>
            </div>
        </td>
        <td is="coral-table-cell">
            <div>
                ${item.workflowTitle @ i18n, locale=request.locale}
            </div>
        </td>
        <td is="coral-table-cell" class="inbox-item-status">
            <div data-sly-test="${item.statusIcon}">
                <coral-icon icon="${item.statusIcon}" class="${item.statusType}" size="S"></coral-icon>
                <span class="item-status" data-sly-test="${item.status == 'Failed'}">${'Failed' @ i18n, locale=request.locale, hint='Task Status for Inbox Item'}</span>
                <span class="item-status" data-sly-test="${item.status == 'Active'}">${'Active' @ i18n, locale=request.locale, hint='Task Status for Inbox Item'}</span>
                <span class="item-status" data-sly-test="${item.status == 'Complete'}">${'Complete' @ i18n, locale=request.locale, hint='Task Status for Inbox Item'}</span>
                <span class="item-status" data-sly-test="${item.status == 'Terminated'}">${'Terminated' @ i18n, locale=request.locale, hint='Task Status for Inbox Item'}</span>
            </div>
        </td>
        <td is="coral-table-cell"  class="start-time"
            data-sly-use.startdate="${'com.adobe.cq.inbox.ui.DateFormatter' @ date=item.startDate, relativeFormat='Y'}">
            ${startdate.date}
        </td>
        <td is="coral-table-cell">
            <coral-tag data-sly-test="${item.dueDate}" 
                       data-sly-use.duedate="${'com.adobe.cq.inbox.ui.DateFormatter' @ date=item.dueDate, relativeFormat='Y'}" 
                       color="${item.dueDateColor}" size="M" quiet>
                ${duedate.date}
            </coral-tag>
            <meta class="foundation-collection-quickactions" data-foundation-collection-quickactions-rel="${item.quickactionsRel.isEmpty ? 'none' : item.quickactionsRel @join=' '}">
        </td>
    </tr>
</div>
