<header class="header-site-wide">
    <div class="responsive-header">
        <span class="u-audible">Header links</span>
        <ul class="global-links">
            <li class="global-links-item">
                <a class="global-links-link" href="/our-shops">Shop finder</a>
            </li>
            <li class="global-links-item">
                <a class="global-links-link" href="/customer-services">Customer services</a>
            </li>
            <li class="global-links-item">
                <a class="global-links-link" href="/our-services/more-from-john-lewis">More from us</a>
            </li>
        </ul>
        <span class="u-audible">Account links</span>
        <ul class="account-list">
            <li class="account-list-item">
                <a class="account-list-link" href="/register">Create an account</a>
            </li>
            <li class="account-list-item account-list-item--signin">
                <a class="account-list-link account-list-link--signin" href="/sign-in">Sign in</a>
            </li>
            <li class="account-list-item account-list-item--my-wish-list">
                <a class="account-list-link account-list-link--my-wish-list" href="/my-account/wish-list">My Wish List</a>
            </li>
            <li class="account-list-item">
                <div class="account-list-link">
                    <div class="international-indicator">

                        <a class="international-indicator__link" id="international-link" href="#international-currency-selector-popup">
                            <span class="international-indicator__flag-icon international-indicator__flag-icon--gb international-indicator__link--outline"></span>
                        </a>

                    </div>
                </div>
            </li>
        </ul>
        <!-- Following 5 tags are necessary to prevent console errors on editor.html. Please do not remove -->
        <div id="delivery-country" style="display:none" >
        </div>
        <div id="currency-select" style="display:none">
        </div>
        <div id="international-country-and-currency-form" style="display:none">
        </div>
        <div id="confirm-country-and-currency-button" style="display:none">
        </div>
        <div id="international-shop-uk" style="display:none">
        </div>
    </div>
    <div class="sticky-header">
        <nav class="nav-site-wide">
            <ul class="nav-site-wide-ul">
                <li class="nav-site-wide-li">
                    <a class="u-icon u-icon--menu nav-link" href="/menu" aria-expanded="false" aria-controls="main-navigation-menu" id="main-navigation-menu">Menu</a>
                </li>
                <li class="nav-site-wide-li">
                    <a class="u-icon u-icon--search nav-link" href="#search" id="nav-link--search" role="button">Search</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="non-sticky-header">
        <h1 class="logo-heading">
            <a class="logo" href="/">
                <img class="logo-image" src="/assets/images/logo.svg" alt="">
                <span class="u-audible">John Lewis</span>
            </a>
        </h1>
        <div class="basket-link">
            <a class="u-icon u-icon&#45;&#45;basket nav-link" href="/basket" id="nav-link&#45;&#45;basket">Basket</a>
        </div>
        <form class="search-form" action="/search" id="search" method="get">
            <input class="search-input u-hidden" type="text" name="search-term" placeholder="Search product or brand" value="" data-show-by-default="false">
            <button class="search-submit u-hidden" id="search-submit" type="submit">
                <span class="u-audible">Search</span>
            </button>
            <button type="button" class="button-clear--search button-clear u-hidden">Clear</button><div class="typeahead"><div data-reactroot=""><form class="typeahead-search"><input value="" class="search-input" placeholder="Search product or brand"><button class="search-submit"><span class="u-audible">Go</span></button></form><!-- react-empty: 7 --><!-- react-empty: 8 --></div></div></form></div>
    <nav class="nav-lrg-screen findability_flyout_six_cols" role="navigation" aria-label="Main menu">
        <ul class="nav-lrg-screen-list">
            <li class="nav-lrg-screen-list__item">
                <a class="nav-lrg-screen-link nav-lrg-screen-link--primary" href="/home-garden/c500006">Home &amp; Garden</a>
                <div class="nav-lrg-secondary-wrapper">
                    <ul class="nav-lrg-secondary">
                    </ul>
                    <div class="nav-banner">
                        <div class="nav-banner__content"><div class="col" aria-hidden="false">
                            <img class="promo-image" src="//johnlewis.scene7.com/is/image/JohnLewis/spacer?wid=1000" alt="test">
                        </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-lrg-screen-list__item">
                <a class="nav-lrg-screen-link nav-lrg-screen-link--primary" href="/furniture-lights/c9780211221">Furniture &amp; Lights</a>
                <div class="nav-lrg-secondary-wrapper">
                    <ul class="nav-lrg-secondary">
                    </ul>
                    <div class="nav-banner">
                        <div class="nav-banner__content"><div class="col" aria-hidden="false">
                            <img class="promo-image" src="//johnlewis.scene7.com/is/image/JohnLewis/spacer?wid=1000" alt="test">
                        </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-lrg-screen-list__item">
                <a class="nav-lrg-screen-link nav-lrg-screen-link--primary nav-active">Laoreet</a>
                <div class="nav-lrg-secondary-wrapper" style="visibility:visible !important; opacity:1">
                    <ul class="nav-lrg-secondary">
                        <li class="nav-lrg-secondary-cat">
                            <h2 class="nav-lrg-secondary-cat__title">Sapien Lacus</h2>
                            <div class="nav-lrg-secondary-list-wrapper">
                                <ul class="nav-lrg-secondary-list">
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Curabitur</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Nullam &amp; Vestibulum</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >NAM, Risus, Mollis &amp; Donec</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Ornare Faucibus Elit</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Volutpat</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-lrg-secondary-cat">
                            <h2 class="nav-lrg-secondary-cat__title">Vestibulum</h2>
                            <div class="nav-lrg-secondary-list-wrapper">
                                <ul class="nav-lrg-secondary-list">
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Nisi</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Ipsum Eros</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Iaculis eu Justo</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" > Vivamus eu turpis</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Tuctus Nugue</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-lrg-secondary-cat">
                            <h2 class="nav-lrg-secondary-cat__title">Ullamcorper</h2>
                            <div class="nav-lrg-secondary-list-wrapper">
                                <ul class="nav-lrg-secondary-list">
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Pellentesque</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Libero mollis</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Phasellus</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Magna &amp; Tellus</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Nunc vulputate pellentesque</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-lrg-secondary-cat">
                            <h2 class="nav-lrg-secondary-cat__title">Sagittis</h2>
                            <div class="nav-lrg-secondary-list-wrapper">
                                <ul class="nav-lrg-secondary-list">
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Donec Dignissim</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Blandit Morem</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Aisus erat</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Sodales</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Malesuada</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-lrg-secondary-cat">
                            <h2 class="nav-lrg-secondary-cat__title">Quisque</h2>
                            <div class="nav-lrg-secondary-list-wrapper">
                                <ul class="nav-lrg-secondary-list">
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Cras, Velit &amp; Urna</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Efficitur</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Praesent venenatis</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Nibh &amp; Metus</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Imperdiet</a>
                                    </li>
                                </ul>

                            </div>
                        </li>
                        <li class="nav-lrg-secondary-cat">
                            <h2 class="nav-lrg-secondary-cat__title">Haiku</h2>
                            <div class="nav-lrg-secondary-list-wrapper">
                                <ul class="nav-lrg-secondary-list">
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >In the twilight rain</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >These brilliant-hued hibiscus</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >A lovely sunset.</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >A lightning flash:</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >Between the forest trees</a>
                                    </li>
                                    <li class="nav-lrg-secondary-list__item">
                                        <a class="nav-lrg-screen-link nav-lrg-screen-link--secondary" >I have seen water.</a>
                                    </li>
                                </ul>

                            </div>
                        </li>
                    </ul>
                    <div class="nav-banner">
                        <div class="nav-banner__content"><div class="col" aria-hidden="false">
                            <img class="promo-image" src="//johnlewis.scene7.com/is/image/JohnLewis/spacer?wid=1000" alt="test">
                        </div>
                        </div>
                        <sly data-sly-include="header-dynamic-content.html" />
                    </div>
                </div>
            </li>
            <li class="nav-lrg-screen-list__item">
                <a class="nav-lrg-screen-link nav-lrg-screen-link--primary" href="/women/c50000298">Women</a>
                <div class="nav-lrg-secondary-wrapper">
                    <ul class="nav-lrg-secondary">
                    </ul>
                    <div class="nav-banner">
                        <div class="nav-banner__content"><div class="col" aria-hidden="false">
                            <img class="promo-image" src="//johnlewis.scene7.com/is/image/JohnLewis/spacer?wid=1000" alt="test">
                        </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-lrg-screen-list__item">
                <a class="nav-lrg-screen-link nav-lrg-screen-link--primary" href="/men/c50000300">Men</a>
                <div class="nav-lrg-secondary-wrapper">
                    <ul class="nav-lrg-secondary">
                    </ul>
                    <div class="nav-banner">
                        <div class="nav-banner__content"><div class="col" aria-hidden="false">
                            <img class="promo-image" src="//johnlewis.scene7.com/is/image/JohnLewis/spacer?wid=1000" alt="test">
                        </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-lrg-screen-list__item">
                <a class="nav-lrg-screen-link nav-lrg-screen-link--primary" href="/beauty/c50000296">Beauty</a>
                <div class="nav-lrg-secondary-wrapper">
                    <ul class="nav-lrg-secondary">
                    </ul>
                    <div class="nav-banner">
                        <div class="nav-banner__content"><div class="col" aria-hidden="false">
                            <img class="promo-image" src="//johnlewis.scene7.com/is/image/JohnLewis/spacer?wid=1000" alt="test">
                        </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-lrg-screen-list__item">
                <a class="nav-lrg-screen-link nav-lrg-screen-link--primary" href="/baby-child/c5000010">Baby &amp; Child</a>
                <div class="nav-lrg-secondary-wrapper">
                    <ul class="nav-lrg-secondary">
                    </ul>
                    <div class="nav-banner">
                        <div class="nav-banner__content"><div class="col" aria-hidden="false">
                            <img class="promo-image" src="//johnlewis.scene7.com/is/image/JohnLewis/spacer?wid=1000" alt="test">
                        </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-lrg-screen-list__item">
                <a class="nav-lrg-screen-link nav-lrg-screen-link--primary">Sport &amp; Leisure</a>
                <div class="nav-lrg-secondary-wrapper">
                    <ul class="nav-lrg-secondary">
                    </ul>
                    <div class="nav-banner">
                        <div class="nav-banner__content"><div class="col" aria-hidden="false">
                            <img class="promo-image" src="//johnlewis.scene7.com/is/image/JohnLewis/spacer?wid=1000" alt="test">
                        </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-lrg-screen-list__item">
                <a class="nav-lrg-screen-link nav-lrg-screen-link--primary" >Gifts</a>
                <div class="nav-lrg-secondary-wrapper">
                    <ul class="nav-lrg-secondary">
                    </ul>
                    <div class="nav-banner">
                        <div class="nav-banner__content"><div class="col" aria-hidden="false">
                            <img class="promo-image" src="//johnlewis.scene7.com/is/image/JohnLewis/spacer?wid=1000" alt="test">
                        </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-lrg-screen-list__item">
                <a class="nav-lrg-screen-link nav-lrg-screen-link--primary">Offers</a>
                <div class="nav-lrg-secondary-wrapper">
                    <ul class="nav-lrg-secondary">
                    </ul>
                    <div class="nav-banner">
                        <div class="nav-banner__content"><div class="col" aria-hidden="false">
                            <img class="promo-image" src="//johnlewis.scene7.com/is/image/JohnLewis/spacer?wid=1000" alt="test">
                        </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-lrg-screen-list__item">
                <a class="nav-lrg-screen-link nav-lrg-screen-link--primary">Brands</a>
                <div class="nav-lrg-secondary-wrapper">
                    <ul class="nav-lrg-secondary">
                    </ul>
                    <div class="nav-banner">
                        <div class="nav-banner__content"><div class="col" aria-hidden="false">
                            <img class="promo-image" src="//johnlewis.scene7.com/is/image/JohnLewis/spacer?wid=1000" alt="test">
                        </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div style="height:550px"></div>